{{! We will use filters}}
{{%FILTERS}}

<dl class="dl-horizontal">
	<dt>Nom du paquet</dt>
	<dd>{{getPrettyName}}</dd>

	<dt>Version</dt>
	<dd>{{getPrettyVersion}}</dd>

	{{#getDescription}}
		<dt>Description</dt>
		<dd>{{.}}</dd>
	{{/getDescription}}

	{{#getHomepage}}
		<dt>Site Web</dt>
		<dd><a href="{{.}}" target="_blank">{{.}}</a></dd>
	{{/getHomepage}}

	{{#getSourceUrl}}
		<dt>Source</dt>
		<dd><a href="{{.}}" target="_blank">{{.}}</a></dd>
	{{/getSourceUrl}}

	<dt>Auteur(s)</dt>
	<dd>{{#getAuthors}}
		{{name}}
	{{/getAuthors}}</dd>

	<dt>License</dt>
	<dd>{{getLicense | join}}{{^getLicense}}<span class="muted">Aucune</span>{{/getLicense}}</dd>

	<dt>D&eacute;pendances</dt>
	<dd>
		{{#requires}}{{getTarget}} <span class="muted">{{getPrettyConstraint}}</span><br />{{/requires}}
		{{^requires}}<span class="muted">Aucune</span>{{/requires}}</dd>

	<dt>Date de publication</dt>
	<dd>{{#getReleaseDate}}{{getTimestamp | date}}{{/getReleaseDate}}</dd>

	<dt>Statut</dt>
	<dd>{{getStability}}</dd>

	{{#getType}}
		<dt>Type</dt>
		<dd>{{.}}</dd>
	{{/getType}}

	{{#getExtra.component}}
		{{#styles.0}}
			<dt>Feuilles de style</dt>
			<dd>{{#styles}}<code>{{.}}</code><br>{{/styles}}</dd>
		{{/styles.0}}
		{{#scripts.0}}
			<dt>Fichiers Javascript</dt>
			<dd>{{#scripts}}<code>{{.}}</code><br>{{/scripts}}</dd>
		{{/scripts.0}}
	{{/getExtra.component}}
</dl>